/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.like-icon.is-liked .like-icon-core,
.like-icon.is-liked .like-icon-main-body,
.like-icon.is-liked .like-icon-contour ,
.like-icon.is-liked .like-icon-sparks {
  animation-name: core;
  animation-duration: 0.3s;
  animation-delay: 0;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.like-icon.is-liked .like-icon-sparks {
  animation-name: sparks;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.like-icon.is-liked .like-icon-main-body {
  animation-delay: 0.05s;
}

.like-icon.is-liked .like-icon-contour {
  animation-delay: 0.06s;
}

.like-icon.is-liked {
  animation-name: like;
  animation-delay: 0.1s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

@keyframes core {
  100% {
    color: var(--color-red);
  }
}

@keyframes like {
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparks {
  50% {
    color: var(--color-red);
  }
  100% {
    color: transparent;
  }
}

