/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-primary), Arial, Helvetica, sans-serif;
  background-image: var(--gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  max-width: var(--width);
  height: 368px;
  background-color: var(--background);
  border: var(--border);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 100px;
}

.title {
  font-family: var(--font-secondary);
  font-size: 65px;
  font-weight: 400;
}

.sub-title {
  font-family: var(--font-secondary);
  font-size: 23px;
  text-transform: uppercase;
  font-weight: 400;
}

.main {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* cards */
.card {
  max-width: var(--width);
  border: var(--border);
  margin-left: auto;
  margin-right: auto;
  background: var(--background);
  margin-bottom: 54px;
}

.card:nth-child(4) {
  margin-bottom: 53px;
}

.card:nth-child(5) {
  margin-bottom: 52px;
}

.card:nth-child(8) {
  margin-bottom: 50px;
}

.card__title {
  padding: 4px 10px;
  font-weight: 715;
  font-size: 18px;
}

.card__image {
  aspect-ratio: 1/1;
  border-bottom: var(--border);
  position: relative;
}

.card__image img {
  height: 100%;
  object-fit: cover;
  object-position: 96% center;
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-secondary);
  font-size: 14px;
  text-stroke: 1px rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: hard-light;
}

.card__content {
  padding: 25px 26px 25px 25px;
}

.card__description-text {
  margin-bottom: 25px;
  font-size: 18px;
}

.button--like {
  height: 38px;
  width: 130px;
}

.button--like:focus {
  box-shadow: 2px 2px 0 var(--mainColor);
  outline: none;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

.button--heart {
  background: none;
  width: 38px;
  height: 38px;
  outline: none;
  border: none;
  border-radius: 0px;
  padding: 0;
}

.button--heart:focus-visible {
  outline: var(--border);
}

.like-icon-core,
.like-icon-main-body,
.like-icon-sparks {
  color: transparent;
}

.like-icon-contour {
  color: var(--mainColor);
}

.like-icon-core,
.like-icon-main-body {
  transition-duration: 0.3s;
}

.like-icon-core,
.like-icon:hover .like-icon-main-body {
  transition-delay: 0.05s;
}

.like-icon-main-body,
.like-icon:hover .like-icon-core {
  transition-delay: 0s;
}

.like-icon:hover .like-icon-core,
.like-icon:hover .like-icon-main-body {
  color: var(--mainColor);
}

.like-icon:active .like-icon-main-body,
.like-icon:active .like-icon-core {
  color: var(--color-red);
}

/* .like-icon:focus {
  border: var(--border);
  outline: none;
} */

.button-container {
  display: flex;
  justify-content: center;
}

.button-save {
  padding: 17px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.button-save svg {
  width: 21px;
  mix-blend-mode: difference;
  color: var(--background);
  z-index: 1;
  position: relative;
}

.button-save .button__text {
  position: relative;
  top: 2px;
}

.dialog {
  padding: 30px;
  width: 353px;
  border: var(--border);
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.dialog__header {
  display: grid;
  grid-template-columns: 39px 1fr;
  gap: 20px;
  align-items: center;
}

.dialog__header img {
  width: 100%;
}

.dialog__header h2 {
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5;
}

.dialog__button {
  width: 100%;
  margin-top: 30px;
  text-transform: uppercase;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

.button {
  border: var(--border);
  font-family: var(--font-secondary);
  font-size: 14px;
  background: var(--background);
  position: relative;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--mainColor);
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
}

.button:hover::before {
  transform: translate(0);
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--background);
}

.image--grayscale {
  filter: grayscale(80%) saturate(150%) contrast(90%);
}

.image--saturate {
  filter: saturate(400%);
}

.image--huerotate {
  filter: hue-rotate(30deg);
}

.image--invert {
  filter: invert(100%) contrast(60%);
}

.image--sepia {
  filter: sepia(90%);
}

.image--blur {
  filter: blur(15px);
}

.image--1 {
  filter: hue-rotate(77deg) contrast(50%) blur(3px) brightness(120%);
}

@media (max-width: 375px) {
  .title {
    font-size: 49px;
  }
  .sub-title {
    font-size: 14px;
  }
  .button-save {
    flex-direction: column;
    gap: 5px;
  }
  .header {
    height: 327px;
  }
  .card__title {
    line-height: 1.3;
    padding: 3px 10px;
  }
  .card__image {
    aspect-ratio: 1 / 1.01;
  }
  .card {
    margin-bottom: 50px;
  }
  .card:nth-child(8) {
    margin-bottom: 51px;
  }
  .button-save svg {
    width: 28px;
}
}
