/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-primary: Inter;
  --font-secondary: PressStart2P;
  --font-weight-regular: 410;
  --font-weight-bold: 715;
  --gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      0deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
    --border: 2px solid black;
    --background: #fff;
    --width: 700px;
    --mainColor: #000;
    --color-red: rgba(255, 0, 0, 1);
}

